<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--init driver-->
<suite name="Smoke" verbose="2" annotations="JDK">

    <!--<groups>-->
        <!--<run>-->
            <!--<include name="smoke"/>-->
            <!--<include name="p1"/>-->
            <!--<include name="p2"/>-->
        <!--</run>-->
    <!--</groups>-->

    <!--&lt;!&ndash;init driver&ndash;&gt;-->
    <!--<test name="Search test" >-->
        <!--<classes>-->
            <!--<class name="ua.startit.SearchTest" />-->
        <!--</classes>-->
    <!--</test>-->

    <!--init driver-->
    <test name="test1" preserve-order="true" >
        <classes>
            <class name="ua.startit.SignUpTest"/>
            <class name="ua.startit.SignInTest"/>
        </classes>
    </test>

    <test name="test2" preserve-order="false" >
        <classes>
            <class name="ua.startit.SearchTest"/>
        </classes>
    </test>
</suite>


